{% extends "user/user-layout.html" %}

{% block title_inner %}
    Edit password
{% endblock %}

{% block main_inner %}

    <form action="/user/password" method="post" class="form-register" style="max-width: 350px">
        <h1 class="h3 mb-3 fw-normal text-center">Edit password</h1>
        <div class="mb-3">
            <input name="user_id" type="number" value="{{ user.id }}" readonly hidden required>
            <label for="password" class="form-label text-left">New password</label>
            <input autofocus id="password" autocomplete="off" class="form-control" name="password" type="password"
                   placeholder="Enter the new password" required>
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label text-left">New password again</label>
            <input autofocus id="password2" autocomplete="off" class="form-control" name="password2" type="password"
                   placeholder="Repeat the new password" required>
        </div>
        <div class="mb-3">
            <label for="cur_pass" class="form-label text-left">Current password</label>
            <input autofocus id="cur_pass" autocomplete="off" class="form-control" name="cur_pass" type="password"
                   placeholder="Enter the current password" required>
        </div>
        <div class="mt-4 text-center">
            <button class="btn btn-primary" type="submit" style="width: 150px">Confirm</button>
        </div>
    </form>

{% endblock %}
