{% extends "layout.html" %}

{% block title %}
    Cart
{% endblock %}

{% block main %}
    <h1 class="display-5 mb-4">Cart</h1>

    <table class="table table-striped" data-toggle="table">
        <thead>
        <tr>
            <th scope="col">image</th>
            <th scope="col" data-sortable="true">product name</th>
            <th scope="col" data-sortable="true">pieces</th>
            <th scope="col" data-sortable="true">price</th>
            <th scope="col" data-sortable="true">total</th>
            <th scope="col">operate</th>
        </tr>
        </thead>
        <tbody>
        {% for cart_item in cart_items %}
            <tr>
                <th scope="row">
                    <img src="/static/img/products/product{{ cart_item['product_id'] }}.png" class="img-thumbnail"
                         alt="product{{ cart_item['product_id'] }}.png"
                         style="max-height: 90px">
                </th>
                <td>{{ cart_item['name'] }}</td>
                <td>{{ cart_item['pieces'] }}</td>
                <td>{{ cart_item['price']|usd }}</td>
                <td>{{ cart_item['total']|usd }}</td>
                <td class="text-center"> &nbsp;
                    <a class="remove" href="javascript:deleteItemFromCart({{ cart_item['id'] }})" title="Remove">
                        <svg class="bi" width="20" height="20" fill="currentColor">
                            <use xlink:href="/static/css/bootstrap-icons.svg#trash-fill"/>
                        </svg>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <style>
        tbody .no-records-found td:after {
            content: " - the cart is empty!";
        }
    </style>

    {% if cart_items %}
        <div class="cart-total row g-4 mt-0">
            <div class="col-auto">
                <p>Total items: {{ total_items }}</p>
            </div>
            <div class="col-auto">
                <p>Total price: {{ total_price|usd }}</p>
            </div>
            <div class="col-auto">
                {% if session.user_id %}
                    <button type="button" class="btn btn-primary mb-3" onclick="makeAuthUserOrder()">Make order</button>
                {% else %}
                    <button type="button" class="btn btn-primary mb-3" onclick="makeNewUserOrder()">Make order</button>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <hr>

    <!-- Modal - buy product -->
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">The order was successfully placed!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Your order number: <span id="order_number"></span><br/>
                    Our manager will contact you shortly. <br/>
                    Thank you!
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="/catalog" role="button">Ok</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
