{% extends "layout.html" %}

{% block title %}
    Home page
{% endblock %}

{% block main %}
    <div class="mx-auto text-center">
        <h1 id="title" class="display-4 mb-4">{{ settings.main_header }}</h1>
        <div class="mb-2">
            <img src="/static/img/home.png" class="img-fluid" alt="Geek drugs">
        </div>
        <div class="row">
            <div class="home-description">
                <p class="lead">{{ settings.main_desc|safe }}</p>
            </div>
        </div>
    </div>
{% endblock %}
