{% extends "layout.html" %}

{% block title %}
    {{ product['name'] }} - Catalog
{% endblock %}

{% block main %}
<h1 class="display-5 mb-4">{{ product['name'] }}</h1>
<div class="row mb-3">
    <div class="col-lg-6 col-md-12 col-sm-12">
        <img src="/static/img/products/product{{ product['id'] }}.png" class="img-fluid" alt="Python blood">
    </div>
    <div class="col">
        <h2>{{ product['header'] }}</h2>
        <h4>Instruction:</h4>
        <p>{{ product['instruction'] }}</p>
        <h4>Info:</h4>
        <p>{{ product['info'] }}</p>
        <div class="price" id="price">$ <span>{{ product['price'] }}</span></div>
        <div id="price-input-group" class="input-group">
            <span class="input-group-text">Pieces</span>
            <button id="leftBtn" class="btn btn-outline-secondary" type="button" onclick="leftBtnAction()">&lt;</button>
            <button id="rightBtn" class="btn btn-outline-secondary" type="button" onclick="rightBtnAction()">&gt;</button>
            <input id="piecesInput" type="number" class="form-control" value="0">
            <button id="buyBtn" class="btn btn-outline-primary" type="button" onclick="buyBtnAction()">Buy</button>
        </div>
    </div>
</div>
<hr>
{% endblock %}
