{% extends "admin-layout.html" %}

{% block title_inner %}
    Users
{% endblock %}

{% block main_inner %}
    <table class="table table-striped" data-toggle="table" data-search="true">
        <thead>
        <tr>
            <th scope="col" data-sortable="true">id</th>
            <th scope="col" data-sortable="true">username</th>
            <th scope="col" data-sortable="true">email</th>
            <th scope="col" data-sortable="true">phone</th>
            <th scope="col" data-sortable="true">fullname</th>
            <th scope="col" data-sortable="true">address</th>
            <th scope="col" data-sortable="true">is_admin</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user['id'] }}</th>
                <td>{{ user['username'] }}</td>
                <td>{{ user['email'] }}</td>
                <td>{{ user['phone'] }}</td>
                <td>{{ user['fullname'] }}</td>
                <td>{{ user['address'] }}</td>
                {%  if user['is_admin'] == 1 %}
                    <td class="text-center" style="padding: 0"><i class="bi bi-check" style="font-size: x-large; color: forestgreen"></i></td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
