a {
    text-decoration: none;
}

.home-description {
    width: 100%;
    max-width: 700px;
    padding: 15px;
    margin: auto;
}

.home-description p {
    font-size: 1.45rem;
}

.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-register {
    width: 100%;
    max-width: 430px;
    padding: 15px;
    margin: auto;
}

h3 {
    font-weight: 400;
}

.form-floating textarea {
    font-size: 0.9rem;
}

.price {
  font-size: 26px;
  margin-bottom: 10px;
}

#price-input-group {
  max-width: 255px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    min-height: 500px;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}