{% extends "layout.html" %}

{% block title %}
    {% block title_inner %}{% endblock %} - Admin Panel
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-auto col-sm-12">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin/global">Global</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/orders">Orders</a>
                </li>
            </ul>
        </div>
        <div class="col">
            {% block main_inner %}{% endblock %}
        </div>
    </div>
{% endblock %}
