{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post" class="text-center form-register">
        <h1 class="h3 mb-3 fw-normal">Please register</h1>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"
                   required>
        </div>
        <div class="mb-3">
            <input class="form-control" name="password" placeholder="Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control" name="password2" placeholder="Password again" type="password" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control" name="fullname" placeholder="Full name" type="text" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control" name="phone" placeholder="Phone number" type="tel" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control" name="email" placeholder="Email" type="email" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control" name="address" placeholder="Address" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
